/* Global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(226, 226, 226);
}

.navbar {
    background-color: #fff !important;
}

/* Navbar styles */
.nav-link {
    color: #000;
}

.nav-link:hover {
    color: rgb(88, 88, 88);
}